# основа бекенда
fastapi[all]>=0.120.3
uvicorn[standard]>=0.30.0
# работа с бд
SQLAlchemy>=2.0.30
alembic>=1.13.0
psycopg>=3.2.12
psycopg-binary==3.3.1


# валидация данных
pydantic>=2.8.0
pydantic-settings>=2.2.0

# шифрование и безопасность
python-jose>=3.3.0          # для JWT токенов
passlib[bcrypt]>=1.7.4      # для хеширования паролей



# дополнительные библиотеки
python-multipart>=0.0.6     # загрузка файлов через формы
aiofiles>=24.1.0            # async работа с файлами

bcrypt>=4.1.3
jose>=1.0.0
slowapi>=0.1.9